In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

c:\python\python38\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
c:\python\python38\lib\site-packages\numpy\.libs\libopenblas.EL2C6PLE4ZYW3ECEVIV3OXXGRN2NRFM2.gfortran-win_amd64.dll
c:\python\python38\lib\site-packages\numpy\.libs\libopenblas.NOIJJG62EMASZI6NYURL6JBKM4EVBGM7.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [2]:
df = pd.read_csv("quora-question-pairs/train.csv")

In [3]:
df.shape

(404290, 6)

In [4]:
new_df = df.sample(4000)

In [5]:
new_df.isnull().sum()

id              0
qid1            0
qid2            0
question1       0
question2       0
is_duplicate    0
dtype: int64

In [6]:
new_df.duplicated().sum()

0

In [7]:
ques_df = new_df[['question1','question2']]

In [8]:
ques_df.head()

,question1,question2
364923,I got admission in nicmar pune in ACM but many...,"Should I get a PGP ACM from NICMAR, Pune, or a..."
59464,Can anyone give a list of job portal sites for...,How much power does it take to drill a hole in...
226788,How does Emergent Gravity theory get rid of da...,Why can't I be a kid my whole life?
42862,Can you still earn money from Ads (e.g. using ...,Can you buy a phone from Motorola directly and...
352997,How can I make myself to get out of my super c...,How do I break out of my comfort zone?

In [9]:
from sklearn.feature_extraction.text import CountVectorizer

question = list(ques_df['question1']) + list(ques_df['question2'])

In [10]:
cv = CountVectorizer(max_features=3000)
q1_arr , q2_arr= np.vsplit(cv.fit_transform(question).toarray(),2)

In [11]:
q1_arr.shape

(4000, 3000)

In [12]:
q2_arr.shape

(4000, 3000)

In [13]:
len(question)

8000

In [14]:
temp_df1 = pd.DataFrame(q1_arr, index = ques_df.index)
temp_df2 = pd.DataFrame(q1_arr, index = ques_df.index)
temp_df = pd.concat([temp_df1,temp_df2])
temp_df.shape

(8000, 3000)

In [15]:
temp_df

,0,1,2,3,4,5,6,7,8,9,...,2990,2991,2992,2993,2994,2995,2996,2997,2998,2999
364923,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
59464,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
226788,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
42862,0,0,0,0,0,0,0,0,0,0,...,0,0,0,2,0,0,0,0,0,0
352997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
326847,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
199427,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
245579,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
84399,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
326283,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [16]:
temp_df['is_duplicate'] = new_df['is_duplicate']

In [17]:
temp_df.head()

,0,1,2,3,4,5,6,7,8,9,...,2991,2992,2993,2994,2995,2996,2997,2998,2999,is_duplicate
364923,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
59464,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
226788,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
42862,0,0,0,0,0,0,0,0,0,0,...,0,0,2,0,0,0,0,0,0,0
352997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [18]:

from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(temp_df.iloc[:,0:-1].values,temp_df.iloc[:,-1].values,test_size=0.2,random_state=1)

In [20]:
X_train.shape, y_train.shape

((6400, 3000), (6400,))

In [21]:
X_test.shape, y_test.shape

((1600, 3000), (1600,))

In [23]:
from sklearn.ensemble import RandomForestClassifier

In [24]:
from sklearn.metrics import accuracy_score

In [25]:
rf = RandomForestClassifier()
rf.fit(X_train,y_train)

RandomForestClassifier()

In [37]:
y_pred = rf.predict(X_test)

In [38]:
accuracy_score(y_test, y_pred)

0.93625

In [31]:
from xgboost import XGBClassifier

In [32]:
Xgb = XGBClassifier()

In [33]:
Xgb.fit(X_train, y_train)

c:\python\python38\lib\site-packages\xgboost\sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[18:28:35] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.1/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
              gamma=0, gpu_id=-1, importance_type=None,
              interaction_constraints='', learning_rate=0.300000012,
              max_delta_step=0, max_depth=6, min_child_weight=1, missing=nan,
              monotone_constraints='()', n_estimators=100, n_jobs=8,
              num_parallel_tree=1, predictor='auto', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [39]:
y_pred = Xgb.predict(X_test)

In [40]:
accuracy_score(y_test, y_pred)

0.75375